<div local-class="actions" ...attributes>
  {{yield (hash 
    SubmitButton=(component "asm/form/submit-button")
    CancelButton=(component "asm/form/cancel-button")
    Button=(component "asm/form/button")
  )}}
</div>