<div local-class="ui-notifications" ...attributes>
  {{#animated-each (reverse this.notifications)
      key='id'
      use=this.transition
      duration=300
    as |notification|}}

      <UiNotification
        @notification={{notification}}
        @onDismiss={{action "onDestroyNotification" notification}}
      />
  {{/animated-each}}
</div>