@value scale-2, scale-3, scale-4 from "layout";
@value text-default, text-muted, text-danger, icon-danger, neutral-n3, neutral-n4 from "ember-assembly/styles/palette";
@value ui from "typography";

.ui-field {
  margin: scale-4 0;
}

.ui-field .label {
  color: text-default;
  display: inline-block;
  font-family: ui;
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 scale-2 0;
}

.ui-field .description {
  color: text-muted;
  font-size: 13px;
  margin: calc(-1 * scale-2) 0 scale-2 0;
}

.validation-message {
  color: text-danger;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  margin-top: scale-3;
}

.validation-icon {
  margin-right: scale-3;
}

.validation-icon path {
  fill: icon-danger;
}
