@value scale-3 from "layout";
@value ui from "typography";
@value text-default, blue-b4a, blue-base, neutral-n2 from "ember-assembly/styles/palette";
@value border-default, border-error from "ember-assembly/styles/palette";

.ui-text-input input {
  border: 1px solid border-default;
  border-radius: 3px;
  color: text-default;
  font-family: ui;
  font-size: 12px;
  font-weight: 400;
  height: 32px;
  padding: 0 scale-3;
}

.ui-text-input input:focus {
  border-color: blue-base;
  box-shadow: 0 0 0 3px blue-b4a;
  outline: 0;
}

.ui-text-input.has-error input {
  border-color: border-error;
}

.ui-text-input input:disabled {
  background: neutral-n2;
  cursor: not-allowed;
}
