@value border-default, border-error from "ember-assembly/styles/palette";

.ui-text-input {
}
.ui-text-input input {
  border: 1px solid border-default;
  border-radius: 3px;
}

.ui-text-input.has-error input {
  border-color: border-error;
}
