.ui-text-input {
  border: 1px solid var(--ea-colour-border-default);
  border-radius: 3px;
  color: var(--ea-colour-text-default);
  font-family: var(--ea-typography-ui);
  font-size: 13px;
  font-weight: 400;
  height: scale(7);
  padding: 0 scale(2);
}

.ui-text-input:focus {
  border-color: var(--ea-colour-blue-base);
  box-shadow: 0 0 0 3px var(--ea-colour-blue-b4a);
  outline: 0;
}

.ui-text-input.has-error  {
  border-color: var(--ea-colour-border-error);
}

.ui-text-input:disabled {
  background: var(--ea-colour-neutral-n2);
  cursor: not-allowed;
}

.ui-text-input :global(.has-width) {
  width: 100%;
}
