.trigger .ui-button {
  font-weight: 400;
}

.trigger:active,
.trigger:focus {
  outline: none;
}

.multiple-dates {
  display: flex;
  text-align: left;
}

.multiple-dates .separator {
  font-weight: 400;
  margin: 0 scale(1);
}

.selected-range {
  color: var(--ea-colour-text-muted);
  font-weight: 400;
}

.calendar-icon {
  width: calc(scale(2) + 2px);
  height: calc(scale(2) + 2px);
  margin-right: scale(2);
  position: relative;
  fill: var(--ea-colour-neutral-n10);
  top: -1px;
}

.ui-datepicker :global(.ui-popover-content) {
  max-height: inherit;
  margin-top: scale(2);
}
