.ui-select-option {
  align-items: center;
  background: var(--ea-colour-neutral-n0);
  border: none;
  border-top: 1px solid var(--ea-colour-blue-b3);
  color: var(--ea-colour-text-default);
  cursor: pointer;
  display: block;
  font-family: var(--ea-typography-ui);
  font-size: var(--ea-typography-base-font-size);
  font-weight: 400;
  line-height: 1.5em;
  overflow-x: hidden;
  padding: scale(1) scale(3);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.ui-select-option:first-child {
  border-top: 0;
}

.ui-select-option:hover {
  background: var(--ea-colour-blue-b2);
}
