.ui-tag {
  align-items: center;
  background: var(--ea-colour-neutral-n3);
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  display: flex;
  font-family: var(--ea-typography-ui);
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.ui-tag:focus {
  box-shadow: 0 0 0 3px var(--ea-colour-blue-b4a);
  outline: none;
}

.label,
.icon {
  padding: scale(1) scale(2);
}

.icon {
  border-left: 1px solid var(--ea-colour-blue-dark);
}

/* Appearance: Strong */
.ui-tag.appearance-strong {
  background: var(--ea-colour-intent-none);
  border-color: var(--ea-colour-intent-none);
  color: var(--ea-colour-neutral-n0);
}
.ui-tag.appearance-strong:active {
  background: var(--ea-colour-blue-dark);
  border-color: var(--ea-colour-blue-dark);
}

.ui-tag.appearance-strong .icon svg {
  fill: var(--ea-colour-neutral-n0);
}
