@value blue-b4a, neutral-n10 from "palette";

:global(.ui-popover-content.ui-popover-content).ui-select-content {
  margin-top: scale(2);
  padding: 0;
  overflow: auto;
  position: absolute;
  z-index: 999;
}

.ui-select-trigger:focus {
  border-radius: 3px;
  box-shadow: 0 0 0 3px blue-b4a;
  outline: none;
}

.trigger-icon {
  width: calc(scale(2) + 2px);
  height: calc(scale(2) + 2px);
  margin-right: scale(2);
  position: relative;
  fill: neutral-n10;
  top: -1px;
}
