@value blue-b4a from "palette";
@value scale-3 from "layout";

:global(.ui-popover-content.ui-popover-content).ui-select-content {
  margin-top: scale-3;
  padding: 0;
  overflow: auto;
  position: absolute;
  z-index: 999;
}

.ui-select-trigger:focus {
  border-radius: 3px;
  box-shadow: 0 0 0 3px blue-b4a;
  outline: none;
}
