@value text-default, text-muted, icon-danger from "palette";
@value intent-none, intent-success, intent-danger, intent-warning from "palette";
@value blue-b3 from "palette";
@value blue-b4a from "palette";
@value blue-tint, blue-dark from "palette";
@value red-tint, red-dark from "palette";
@value green-tint, green-dark from "palette";
@value yellow-tint, yellow-dark from "palette";
@value neutral-n0, neutral-n1, neutral-n2, neutral-n3, neutral-n4, neutral-n5, neutral-n7 from "palette";
@value white-w5a from "palette";
@value ui from "typography";
@value timing-function: cubic-bezier(0, 0, 0.25, 0.99);

.ui-button {
  background: neutral-n0;
  border: 1px solid neutral-n5;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  color: text-default;
  cursor: default;
  font-family: ui;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(scale(6) - 2px);
  padding: 0 scale(2);
  position: relative;
  text-align: center;
}

.ui-button:enabled {
  cursor: pointer;
}

.ui-button.appearance-minimal:focus,
.ui-button:focus {
  box-shadow: 0 0 0 3px blue-b4a;
  outline: none;
  z-index: 1;
}

.ui-button.appearance-minimal:active:enabled,
.ui-button:active:enabled {
  background: blue-b3;
}

.ui-button .label {
  align-items: center;
  display: flex;
  justify-content: center;
}

.is-loading {
  border-color: neutral-n4;
}

.is-loading .label {
  opacity: 0;
}

/* Spinner */
.ui-button .spinner {
  animation: assembly-ui-button-spinner-in 300ms timing-function;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  will-change: opacity;
}

@keyframes assembly-ui-button-spinner-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Size */
.ui-button.size-large {
  font-size: 14px;
  line-height: 34px;
}

.ui-button.size-small {
  font-size: 12px;
  line-height: 24px;
  padding: 0 scale(2);
}

/* Appearance: Minimal */
.ui-button.appearance-minimal {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
  color: intent-none;
}

.ui-button.appearance-minimal:hover {
  background: neutral-n2;
  border: 1px solid neutral-n2;
}

.ui-button.appearance-minimal.intent-success {
  color: intent-success;
}

.ui-button.appearance-minimal.intent-danger {
  color: intent-danger;
}

.ui-button.appearance-minimal.intent-warning {
  color: intent-warning;
}

.ui-button.appearance-minimal:disabled {
  color: neutral-n5;
}

.ui-button.appearance-minimal:disabled:hover {
  background: inherit;
}

/* Appearance: Default */
.ui-button.appearance-default.intent-success {
  color: intent-success;
}

.ui-button.appearance-default.intent-danger {
  color: intent-danger;
}

.ui-button.appearance-default.intent-warning {
  color: intent-warning;
}

.ui-button.appearance-default:disabled {
  border-color: neutral-n4;
  color: neutral-n5;
}

/* Appearance: Strong */
.ui-button.appearance-strong.intent-none.is-loading:disabled,
.ui-button.appearance-strong.intent-none {
  background: intent-none;
  border-color: intent-none;
  color: neutral-n0;
}
.ui-button.appearance-strong.intent-none:active {
  background: blue-dark;
  border-color: blue-dark;
}
.ui-button.appearance-strong .spinner > div {
  border-top-color: white-w5a;
}

.ui-button.appearance-strong.intent-success.is-loading:disabled,
.ui-button.appearance-strong.intent-success {
  background: intent-success;
  border-color: intent-success;
  color: neutral-n0;
}
.ui-button.appearance-strong.intent-success:focus {
  box-shadow: 0 0 0 3px green-tint;
}
.ui-button.appearance-strong.intent-success:active {
  background: green-dark;
  border-color: green-dark;
}

.ui-button.appearance-strong.intent-danger.is-loading:disabled,
.ui-button.appearance-strong.intent-danger {
  background: intent-danger;
  border-color: intent-danger;
  color: neutral-n0;
}
.ui-button.appearance-strong.intent-danger:focus {
  box-shadow: 0 0 0 3px red-tint;
}
.ui-button.appearance-strong.intent-danger:active {
  background: red-dark;
  border-color: red-dark;
}

.ui-button.appearance-strong.intent-warning.is-loading:disabled,
.ui-button.appearance-strong.intent-warning {
  background: intent-warning;
  border-color: intent-warning;
  color: neutral-n0;
}
.ui-button.appearance-strong.intent-warning:focus {
  box-shadow: 0 0 0 3px yellow-tint;
}
.ui-button.appearance-strong.intent-warning:active {
  background: yellow-dark;
  border-color: yellow-dark;
}

.ui-button.appearance-strong:disabled {
  background: neutral-n1;
  border-color: neutral-n4;
  color: neutral-n5;
}
