@value blue-b2, blue-b3, text-default from "ember-assembly/styles/palette";
@value scale-3 from "layout";

.ui-table-head-cell {
  background: blue-b2;
  border-top: 1px solid blue-b3;
  border-bottom: 1px solid blue-b3;
  color: text-default;
  font-size: 12px;
  font-weight: 500;
  padding: scale-3;
  text-align: left;
  text-transform: uppercase;
}

.is-sortable {
  cursor: pointer;
}

.has-fixed-header {
  background-clip: padding-box;
  position: sticky;
  top: 0;
  z-index: 10;
}
