.table {
  border-spacing: 0;
  border-left: 1px solid var(--ea-colour-blue-b3);
  border-right: 1px solid var(--ea-colour-blue-b3);
  width: 100%;
}

.height-full {
  height: 100%;
  overflow: auto;
}
