@value scale-2, scale-3 from "layout";
@value text-muted, neutral-n3, neutral-n4, border-default, border-error, icon-danger from "palette";

.ui-tag-input {
  border: 1px solid border-default;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  padding: scale-3 scale-3 0;
  width: 100%;
}

.ui-tag-input.has-error {
  border-color: border-error;
}

.tag {
  background: neutral-n3;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  flex: 0 0 auto;
  font-size: 14px;
  margin: 0 scale-3 scale-3 0;
  padding: scale-2 scale-3;
}

.tag:hover {
  background: neutral-n4;
}

.ui-tag-input .input {
  border: 0;
  flex: 1 1 auto;
  padding: scale-2 scale-3;
  height: auto;
  width: auto;
  margin-bottom: scale-3;
}

.ui-tag-input .input::placeholder {
  color: text-muted;
}

.ui-tag-input .input:focus {
  box-shadow: none;
}
