@value blue-base, blue-dark, neutral-n0, neutral-n3, neutral-n6, neutral-n8, text-default, text-muted from "palette";

.nav {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.nav-title {
  line-height: scale(5);
}

.nav-control {
  background: 0;
  border: 0;
  box-shadow: none;
  line-height: 1;
  position: relative;
}

.nav-control:active {
  fill: blue-base;
  outline: none;
  top: 1px;
}

.nav-control:focus {
  outline: none;
  transform: none;
}

.nav-control:hover {
  fill: blue-base;
}

.weekdays {
  display: flex;
  height: scale(8);
  justify-content: space-between;
}

.weekday {
  flex: 1;
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.week {
  display: flex;
  height: auto;
}

:global(.ui-calendar-day) {
  background: transparent;
  border: 1px solid neutral-n3;
  flex: 1 1 scale(8);
  font-weight: 400;
  font-size: 12px;
  margin-right: -1px;
  margin-bottom: -1px;
  max-width: inherit;
  max-height: scale(8);
  width: scale(8);
  height: scale(8);
}

:global(.ui-calendar-day.is-previous-month),
:global(.ui-calendar-day.is-next-month) {
  color: neutral-n6;
}

:global(.ui-calendar-day:not([disabled])):hover {
  background: blue-dark;
  border-color: blue-dark;
  color: neutral-n0;
}

:global(.ui-calendar-day):focus {
  outline: none;
}

:global(.ui-calendar-day.is-selected) {
  background: blue-base;
  border-color: blue-base;
  color: neutral-n0;
}

:global(.ui-calendar-day.is-selected.is-range-start),
:global(.ui-calendar-day.is-selected.is-range-finish) {
  background: blue-dark;
  border-color: blue-dark;
  color: neutral-n0;
}
