@value blue-b4a, blue-base, border-default, border-error, text-default, neutral-n8 from "palette";
@value ui from "typography";

.ui-search-input {
  position: relative;
}

.ui-search-input input {
  border: 1px solid border-default;
  border-radius: 3px;
  color: text-default;
  font-family: ui;
  font-size: 12px;
  font-weight: 400;
  height: scale(6);
  padding: 0 scale(2) 0 scale(6);
}

.ui-search-input input:focus {
  border-color: blue-base;
  box-shadow: 0 0 0 3px blue-b4a;
  outline: none;
}

.ui-search-input.has-error input {
  border-color: border-error;
}

.search-icon {
  position: absolute;
  top: scale(2);
  left: scale(2);
  height: calc(scale(2) + 2px);
  width: calc(scale(2) + 2px);
}

.search-icon > path {
  fill: neutral-n8;
}

.spinner {
  position: absolute;
  right: 5px;
  top: 5px;
}
