@value neutral-n0 from "ember-assembly/styles/palette";
@value gutter from "ember-assembly/styles/global";
@value timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.175);

:global(.ember-basic-dropdown-trigger) {
  display: inline-block;
}

:global(.ui-popover-content.ember-basic-dropdown-content) {
  background: neutral-n0;
  box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px,
    rgba(67, 90, 111, 0.47) 0px 8px 10px -4px;
  padding: gutter;
  width: 240px;
  height: 240px;
  transform-origin: center 0px 0px;
  will-change: transform, opacity;
}

:global(.ui-popover-content.ember-basic-dropdown-content--left.ember-basic-dropdown-content--below) {
  transform-origin: left top;
}

:global(.ui-popover-content.ember-basic-dropdown--transitioning-in) {
  animation: ui-popover-in 300ms timing-function;
}

:global(.ui-popover-content.ember-basic-dropdown--transitioning-out) {
  animation: ui-popover-out 300ms timing-function;
}

@keyframes ui-popover-in {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(-1px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

@keyframes ui-popover-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
