@value blue-b3, blue-b4a, neutral-n2, text-default from "ember-assembly/styles/palette";
@value scale-3, scale-4, scale-5 from "layout";

:global(.ui-popover-content.ui-popover-content).ui-combobox-content {
  margin-top: scale-3;
  padding: 0;
  overflow: auto;
}

.ui-combobox-trigger:focus {
  border-radius: 3px;
  box-shadow: 0 0 0 3px blue-b4a;
  outline: none;
}

.header {
  display: flex;
}

.title {
  color: text-default;
  flex: 1 1 auto;
  font-weight: 500;
  padding: scale-3 scale-4;
}

.close-btn {
  flex: 0 0 auto;
  text-align: right;
}

.ui-combobox-content .filter input {
  background: neutral-n2;
  border: 0;
  border-radius: 0;
  border-top: 1px solid blue-b3;
  padding-left: calc(scale-5 + scale-3);
  width: 100%;
}

.ui-combobox-content .filter input:focus {
  border-color: blue-b3;
  box-shadow: none;
}

.ui-combobox-content .filter svg {
  left: 14px;
}
