{{docs-header}}

{{docs-hero
  logo="ember"
  slimHeading="My"
  strongHeading="Addon"
  byline="Beautiful component library by Goods"
}}

<DocsDemo as |demo|>
  <demo.example @name="my-demo.hbs">
    <p>Make sure to read up on the DocsDemo component before building out this page.</p>
  </demo.example>
</DocsDemo>