@value gutter, gutter-half from "ember-assembly/styles/global";
@value ui from "ember-assembly/styles/typography";
@value blue-b2, blue-b3, text-default from "ember-assembly/styles/palette";

/* ui: '"SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"', */
.ui-select-option {
  align-items: center;
  border-top: 1px solid blue-b3;
  color: text-default;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  font-family: ui;
  line-height: 1.5em;
  overflow-x: hidden;
  padding: gutter-half gutter;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-select-option:first-child {
  border-top: 0;
}

.ui-select-option:hover {
  background: blue-b2;
}
