@value blue-b3, blue-b2, text-default from "ember-assembly/styles/palette";
@value scale-3, scale-4 from "layout";
@value ui from "typography";

.ui-select-option {
  align-items: center;
  border-top: 1px solid blue-b3;
  color: text-default;
  cursor: pointer;
  font-family: ui;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5em;
  overflow-x: hidden;
  padding: scale-3 scale-4;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-select-option:first-child {
  border-top: 0;
}

.ui-select-option:hover {
  background: blue-b2;
}
