@value blue-base, neutral-n5, neutral-n0 from "palette";
@value scale-3 from "layout";
@value size: 16px;

.ui-checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.checkbox-input {
  border: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0px;
  white-space: nowrap;
  width: 1px;
  opacity: 0;
}

.checkbox {
  align-items: center;
  background: neutral-n0;
  border: 1px solid neutral-n5;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  margin-right: scale-3;
  height: size;
  width: size;
  min-width: size;
}

.check-icon {
  fill: neutral-n0;
}

.is-checked .checkbox {
  background: blue-base;
  border-color: blue-base;
  color: neutral-n0;
}

.label {
  cursor: pointer;
}
